body {
  background-color:antiquewhite;
}

.head {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10% 0 15% 0;
}

h2 {
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
}

.container {
  width: 90%;
  margin: auto;
}

p, ul{
  padding-bottom: 2em;
}

a {
  text-decoration: none;
  color: blue;
}
a:visited {
  text-decoration: none;
  color: blue;
}
