body {
  background-color:antiquewhite;
}

.head {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 4em;
}

.container {
  width: 90%;
  margin: auto;
}



a {
  text-decoration: none;
  color: blue;
}
a:visited {
  text-decoration: none;
  color: blue;
}
